.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header_top {
  width: 100%;
  float: left;
  background-color: #016e9f;
  height: auto;
  padding: 10px 0px;
  color: aliceblue;
}
.call_text {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #d5f9f9;
}
.call_text_left {
  padding-left: 20px;
}
.call_text a{
   color: #d5f9f9;
}
.call_text a:hover{
   color: #ffffff;
}

.footer_section {
  width: 100%;
  float: left;
  padding-bottom: 90px;
}
.footer_about {
  width: 100%;
  float: left;
  font-size: 26px;
  color: #ffffff;
  font-family: Poppins;
}
.subscribe_bt {
  width: 50%;
  float: left;
  background-color: #fddd33;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 0px;
  margin-top: 25px;
}
.copyright_section {
  width: 100%;
  float: left;
  background-color: #016e9f;
  height: auto;
}
.copyright {
  width: 100%;
  float: left;
  font-size: 18px;
  color: #fdfdfe;
  text-align: center;
  margin-left: 0px;
}
.copyright a {
  color: #fdfdfe;
}
.copyright a:hover{
  color: #000;
}